[submodule "test/munit"]
	path = test/munit
	url = https://github.com/nemequ/munit.git
[submodule "test/Mimick"]
	path = test/Mimick
	url = https://github.com/diacritic/Mimick.git
[submodule "test/fff"]
	path = test/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "test/artifacts"]
	path = test/artifacts
	url = https://github.com/bnoufel/nm-otool-test.git
